# Python

# what is python

- python is a high level,general purpose programming language.

- It is used to design web development,scripting,software development,mathematical algorithm.

- Its design philosophy emphasizes code redability with the use of significant indentation.

- It supports multiple programming paradigms,including structred,object-oriented and functional programming.

# Basic syntax of python:
- print():This function is used to print the values in the python.

- Type():This function is used to check the datatype of the variable.

- Input():This function is used to take input from user at runtime.

- Datetime():This function used to check the date&time of system.

In [8]:
# using print()
print("Hello world")

print(123)

Hello world
123

In [9]:
# using type()
a=10
print(type(a))

b="python"
print(type(b))

c=10.5
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
# using input()
a=input("enter the value of A: ")
print("the value of A is:",a)

enter the value of A: 10
the value of A is: 10

# comments:
- comments is used in python to make code readable.

- comments make code easy to understand for anyone.

- comments are also used when code testing is going.

- comments are represented by "#" in python.

# single line comments

In [ ]:
# write a program to print multiple values with multiple variables

# multiple line comments

In [ ]:
#   write a program to print
#   multiple values with multiple variables-l

To apply multilines commentsuse this shortcut keys == (select the lines) ctrl+/

# Keywords
- keywords are reserved words in python.we cannot use a keyword as a variable name,function name and any other identifier.


- Keywords in Python are predefined reserved words that have specific meanings and functionalities within the programming language. These keywords are part of the Python syntax and are used to define the structure, flow, and behavior of a program. Here are some reasons why keywords are used in Python:

- 1.Syntax rules: Keywords define the basic syntax and structure of the Python language. They are used to form statements, control structures (such as if-else, loops), function definitions, and class definitions.

- 2.Predefined functionality: Keywords represent built-in functionalities and operations that Python provides. These functionalities include mathematical operations, logical operations, type conversions, and more. By using keywords, developers can leverage the pre-implemented behaviors without having to write the functionality from scratch.

- 3.Control flow and logic: Keywords like if, else, elif, for, while, and break are used to control the flow and logic of a program. They help in decision making, repetition, and branching, allowing programmers to create conditional and iterative behaviors.

- 4.Variable and object handling: Keywords such as global, nonlocal, and del are used to handle variables and objects in Python. They allow manipulation of the scope and lifetime of variables, accessing variables from different scopes, and deleting variables or objects.

- 5.Defining functions and classes: Keywords like def and class are used to define functions and classes, respectively. They indicate the start of a function or class definition and provide the necessary structure to create reusable code blocks.

- 6.Exception handling: Keywords such as try, except, finally, and raise are used for exception handling in Python. They help in catching and handling runtime errors, ensuring the program gracefully handles unexpected situations.

- -By using keywords, Python provides a standard set of instructions and functionalities that developers can rely on. These keywords contribute to the readability, consistency, and maintainability of Python code by following a common language syntax.

In [11]:
and=5
print(and)

SyntaxError: invalid syntax (1649475634.py, line 1)

In [12]:
True=5
print(True)

SyntaxError: cannot assign to True (1082082124.py, line 1)

In [3]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

# Data Types

- Data types are used before the variable,to know which type of values are stored in variable.
- Data types are actually classes and variables are instance(object) of these classes.

# Following are the python's bulit-in data types:
- Numeric(integer,float,complex number)
- Boolean
- set
- Dictionary
- sequence(list,tuple,string)

# Numeric Data type

In [14]:
# integer datatype
a=10
print(type(a))

# float datatype
b=10.9
print(type(b))

# complex datatype
c=2+4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# Boolean Datatype
- True
- False

In [15]:
d=True
print(type(d))

e=False
print(type(e))

<class 'bool'>
<class 'bool'>

# Set Data type
- it is denoted by{}

In [16]:
f={'a','b','c'}
print(type(f))

<class 'set'>

# Dictionary Data type
- It is denoted by{}

# Sequence Datatype
- list
- tuple
- string

In [17]:
# list Datatype
l1=[1,2,3,4,5]
print(type(l1))

# string datatype
y="python"
print(type(y))

# tuple datatype
z=(1,2,3,4,5)
print(type(z))

<class 'list'>
<class 'str'>
<class 'tuple'>

# Varibles

- varables are names to store some values.
- It can store integers,float,string,boolean,set,tuple,list and dictionary.

# Rules of variables:

- variables should start with alphabet only.
- variable name should not have whitespaces.
- we cannot use datatype name as a variable name.
- variable names are significant.

# python allows multiple variable at a time

- eg: x,y,z = "orange","mango","Banana"

# concat variables
- python allows you to concat the variables using "+" sign.

In [18]:
x = "python"
y = "programming"
z = x +' '+ y
print(z)

python programming

# printing variables
- get input from user
- uses of print function

# creating variable

In [19]:
# integer value to the variable
a=10
print(a)
print(type(a))

# float value to the variable
b=10.5
print(b)
print(type(b))

# string value to the variable
c="python"
print(c)
print(type(c))

# list store to the variable
d=[1,2,3,4,5]
print(d)
print(type(d))

# tuple store to the variable
f=(1,2,3,4)
print(f)
print(type(f))

# dictionary store to the variable
g={"name":"python"}
print(g)
print(type(g))

10
<class 'int'>
10.5
<class 'float'>
python
<class 'str'>
[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>
{'name': 'python'}
<class 'dict'>

# Type conversion

In [20]:
# converting from one datatype to another datatype is called tpe conversion/type casting
a = input("enter the value of A:")
print("the value of A is:",a)
print(type(a))

enter the value of A:10
the value of A is: 10
<class 'str'>

In [21]:
a = int(input("enter the value of A:"))
print("the value of A is:",a)
print(type(a))

enter the value of A:10
the value of A is: 10
<class 'int'>

# Operators

- operators are used to perform operations on variables and values in python

# Types of operators
- Arthimetic operators
- Assignment operators
- comparision operators
- Logical operators
- Identity operators
- Membershop operators

# Arthimetic operators

In [22]:
# addition operator
x = 10
y = 20
z = x+y
print("answer is:",z)

answer is: 30

In [23]:
# subtraction operator
x = 30
y = 10
z = x-y
print("answer is:",z)

answer is: 20

In [24]:
# Multiplication operator
x = 20
y = 10
z = x*y
print("answer is:",z)

answer is: 200

In [25]:
# Division
x = 20
y = 10
z = x/y
print("answer is:",z)

answer is: 2.0

In [26]:
# Modulus operator
x = 10
y = 3 
z = x%y
print("answer is:",z)

answer is: 1

In [27]:
# increement operator
x = 10
z = x++1
print("answer is:",z)

answer is: 11

In [28]:
# decreement operator
x = 10
z = x--2 
print("answer is:",z)

answer is: 12

# Assignment operators

In [29]:
# Equal operator
x = 5
print("x :",x)

x : 5

In [30]:
# +=
x = 5
x += 5 # x=x+5
print("x :",x)

x : 10

In [31]:
# -=
x = 5
x -= 5
print("x :",x)

x : 0

# Comparision operators

In [32]:
# ==
x = 5
y = 5
print(x==y)

True

In [33]:
# !=
x = 5
y = 5
print(x!=y)

False

In [34]:
# <
x = 4
y = 5
print(x<y)

True

In [35]:
# >
x = 5
y = 8
print(x>y)

False

In [36]:
# <=
x = 3
y = 7
print(x<=y)

True

In [37]:
# >=
x = 5
y = 8
print(x>=y)

False

# Logical operators

In [38]:
# And
x = 5
print(x>3 and x<6)

True

In [39]:
# Or
x = 5
print(x>6 or x<6)

True

In [40]:
# Not
x = 5
print(not(x>3 and x<4))

True

# Identity operators

In [41]:
# is,is not
x=['apple','mango']
y = ['apple','mango']
z = x
print(x is z)
print(y is not x)

True
True

# Membership operators

In [42]:
# in,not in
x=["apple","mango"]
print("banana" in x)
print("banana" not in x)

False
True

# operator precedence
- which operator evaluates first can be confusing.so we have some rules for this too.

In [43]:
a = 20
b = 30
c = 40
d = 5
x=(a+b)*c//d  
print("x is:",x)

x is: 400

# Assignment

In [44]:
# write a program to print a string "Hello Python"
print("Hello Python")

Hello Python

In [45]:
# write a program to store one value in variable and print that variable.
var="vasundhara chaitanya"
print(var)

vasundhara chaitanya

In [46]:
# write a program to take value from the user input and print that value.
var=input("enter your name ")
print("my name is:",var)

enter your name vasundhara chaitanya
my name is: vasundhara chaitanya

In [47]:
# write a program to do a sum of two value.
x=10
y=20
z=x+y
print("the sum is:",z)

the sum is: 30

In [48]:
# write a program to perform division using variables.
x=6
y=3 
z=x/y
print("the value is:",z)

the value is: 2.0

In [49]:
# write a program to find a type of variable.
a=10
b=30.5
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [50]:
# write a program to take two integer values from the user and check both the values are same
x=('a','b','c')
y=('a','b','c')
print(x is y)
print(x is not y)

False
True

# conditional statements
- conditional statement in python perform different computations or actions depending on whether a specific Boolean constarint evaluates to true or false.conditional statements are handled by IF statements in python. 

- simple if
- if else
- if else ladder
- nested if

# simple if

In [1]:
var=10
if(var==10): #condition is true
    print("value of variable is 10")
    
print("bye")

value of variable is 10
bye

In [3]:
a=25
if a>=30: #condition is false
    print("value of the variable is 25")
print("bye")

bye

# if_else

In [2]:
a=int(input("enter the value of A:"))
b=int(input("enter the value of B:"))
if a>b:
    print("b is greater ")
else:
    print("a is greater ")

enter the value of A:20
enter the value of B:30
a is greater

In [6]:
x=25
y=35
if x>y:
    print("hello")
else:
    print("hi")

hi

# If_else ladder

In [3]:
# percentage greater than 70 ->Dist
# percentage greater than 65 and less than 70 ->1st class 
# percentage greater than 60 and less than 65 ->2nd class 
# percentage greater than 55 and less than 60 ->3rd class 
# persentage less than 45 ->fail
p = int(input("enter the value of p: "))

if p>=70:
    print("dist")
elif p>=65 and p<70:
    print("1st class")
elif p>=60 and p<65:
    print("2nd class")
elif p>=55 and p<60:
    print("3rd class")
else:
    print("fail")

enter the value of p: 68
1st class

# Nested if

In [6]:
# Age>=18
# weight>=50
# if both age and weight match with criteria then the user can donate the blood
# if age is less than 18 show one msg under age
# if age is less than 50 show one msg under weight
# if age doesnot match then it should ask for weight
age=int(input("enter your age: "))

if age>=18:
    weg=int(input("enter your weight:"))
    if weg>=50:
        print("Blood donate")
    else:
        print("under weight")
else:
    print("under age")

enter your age: 25
enter your weight:59
Blood donate

# loop statements
- Loop control statements change execution from its normal sequence. when execution leaves a scope ,all automatic objects that were created in that scope are destroyed.
- In Python, a loop is a control structure that allows you to repeatedly execute a block of code.
- while loop
- for loop
- nested loop

- For Loop: A for loop is used to iterate over a sequence (such as a list, tuple, string, or range) or other iterable objects. It executes a block of code for each item in the sequence.
- While Loop: A while loop repeatedly executes a block of code as long as a specified condition is true. It's useful when you don't know in advance how many times the loop should run.

# while loop

In [2]:
# 5,9,12,14,15
sum=0
n = int(input("N: "))
while n>0:
    sum=sum+n
    n-=1
    print("sum: ",sum)
print("bye")

N: 5
sum:  5
sum:  9
sum:  12
sum:  14
sum:  15
bye

In [22]:
sum=0
n = int(input("N: "))
while n>0:
    sum=sum+n
    n-=1
    print("sum: ",sum)
else:
    print("loop error")
print("bye")

N: 4
sum:  4
sum:  7
sum:  9
sum:  10
loop error
bye

# for loop

In [13]:
word = ["Python","Java","Angular","Graphic"]
for i in word:
    print(i,'=',len(i))

Python = 6
Java = 4
Angular = 7
Graphic = 7

In [14]:
#range(start point,end point,step(jump))
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [15]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end="")
    print()

*****
****
***
**
*

In [19]:
n=6
for i in range(n):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print(" * ",end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [2]:
n=6
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n-i):
        print("* ",end="")
    print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [3]:
size = 5

# Outer loop to iterate through rows
for i in range(size):
    # Inner loop to print asterisks in each column
    for j in range(size):
        print("* ", end="")
    # Move to the next line to start a new row
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# Looping control statement
- The loop control statement change the execution of the loop.when the execution leaves the scope,all automatic objects are gets destroyed.
- Break statement:Terminates the loop statement and transfer execution to the statement immediatley following loop.

In [24]:
for letter in 'python':
    if letter=="h":
        break
    print("current letter: ",letter)
print("bye")

current letter:  p
current letter:  y
current letter:  t
bye

# continue statement
- The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration

In [26]:
# continue statement
for letter in 'python':
    if letter=="h":
        continue
    print("current letter",letter)
print("bye")

current letter p
current letter y
current letter t
current letter o
current letter n
bye

# pass block
- the pass statement in python is used when a statement is required syntactically but you do not want any command or code to execute

In [3]:
for letter in 'python':
    if letter=='h':
        pass
        print("pass block")
    print("current letter:",letter)
print('bye')

current letter: p
current letter: y
current letter: t
pass block
current letter: h
current letter: o
current letter: n
bye

# String
- string allow any datatype value to be store.
- strings in python are surrounded by either single or double quotation marks.
- string is the collection of charecter.

# How to use string in python

In [32]:
# single line quotation
print('Hello World')

# double line quotation
print("Hello World")

# Multiline quotation
a="""python is booming in market,
python is smart launguage,
python is used in AI,machine learing,data science
"""
print(a)

Hello World
Hello World
python is booming in market,
python is smart launguage,
python is used in AI,machine learing,data science

# Update string

In [5]:
a="Hello World!"
print(a)
print("update string:",a[:6]+"python")

Hello World!
update string: Hello python

# string slicing

In [5]:
a="Hello World"

# Access the value of index 1
print("index of 1 is:",a[1])

# Access the value of index 1 to 6
print("index of 1 to 6 is:",a[1:6])

# Access the index value till 6
print("index value till 6 is:",a[:6])

# access the last value of string
print("last value is:",a[::-1])

index of 1 is: e
index of 1 to 6 is: ello
index value till 6 is: Hello
last value is: dlroW olleH

# string built-in functions

In [39]:
# Capitalize():this converts first charecter into capital
a="hello and welcome to python"
x=a.capitalize()
x

'Hello and welcome to python'

In [6]:
# title():this converts first charecter into capital
a="hello and welcome to python"
x=a.title()
x

'Hello And Welcome To Python'

In [40]:
# casefold():this method converts all capital letters into small
a="Hello And Welcome To Python"
x=a.casefold()
x

'hello and welcome to python'

In [9]:
# center():this method converts string into center
a="python"
print(a)
x=a.center(50)
x

python

'                      python                      '

In [42]:
# count():this method count the repeated words in string
a = "I love python,python is a smart launguage"
x=a.count("python")
x

2

In [48]:
# lower():convert the all charecters into lower
a="HELLO WORLD"
x=a.lower()
x

'hello world'

In [10]:
# upper():convert the all charecters into upper
a="HELLO WORLD"
x=a.upper()
x

'HELLO WORLD'

# comparing string

In [44]:
str1="hello python"
str2="hello python"
result = str1==str2
print(result)

True

In [13]:
str1="hello python"
str2="python"
result= (str1==str2)
print(result)

False

In [47]:
str1='A'
str2='B'
str3='C'
result=str1<str2>str3
print(result)

False

# Assignment

In [14]:
# write a program to find whether a given number(accept from the user) is even or odd and print the message to the user accordingly
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

Enter a number: 91
91 is odd.

In [55]:
# write a program to find whether a given number(accept from the user)is greater than or less than and print the message to the
# user accordingly.
num = int(input("Enter a number: "))

if num<0:
    print("Less than")
else:
    print("greater than")

Enter a number: 5
greater than

In [58]:
# write  a program to findout the grade of given percentage value(accept from the user) and print the message according given
# criteria.
# Greater than 70% print A grade message to the user.
# Greater than 65% and less than 70% print B+ grade message to the user.
# Greater than 60% and less than 65% print B grade message to the user.
# Greater than 55% and less than 60% print C grade message to the user.
# Less than 55% print Fail message to the user.
p=int(input("Enter the value of p:"))
if p>=70:
    print("A grade")
elif p>=65 and p<70:
    print("B+ grade")
elif p>=60 and p<65:
    print("B grade")
elif p>=55 and p<60:
    print("c grade")
else:
    print("fail")

Enter the value of p:98
A grade

In [59]:
# write a program to generate 1 to 10 value using the loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [61]:
# write a program to generate 10 to 1 value using the loop.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [3]:
a=[]
for i in range(10,0,-1):
    a.append(i)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
# write a program to print following program
# *
# **
# ***
# ****
# *****
# ******
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [8]:
# write a program to print following pattern
# 1
# 12
# 123
# 1234
for i in range(1,6):
    for j in range(1,i+1): 
        print(j,end="")
    print()

1
12
123
1234
12345

In [18]:
for i in range(1,6):
    for j in range(1,i+2):
        print(j,end="")
    print()

12
123
1234
12345
123456

In [65]:
# write a program to convert this string "hello python" into uppercase string built-in function
a="hello python"
a.upper()

'HELLO PYTHON'

In [1]:
# write a program to convert this string "HELLO PYTHON" into lowercase string built-in function
a="HELLO PYTHON"
a.lower()

'hello python'

# Lists
- List is a collection in python,which store the data into sequence.
- List store multiple datatype value like string,int,float,char.
- List works on index value which start from zero.
- list is mutable(changable at runtime)data structure.

# creating list

In [3]:
#This list store the integer value
l1=[1,2,3,4,5,6]
# This list store the string value
l2=["Apple","Banana","Mango"]

print("Integer list:" ,l1)
print("String list:" ,l2)

Integer list: [1, 2, 3, 4, 5, 6]
String list: ['Apple', 'Banana', 'Mango']

# Duplicate values in list

In [4]:
#list will allows duplicate values also
l1=[1,2,3,4,3,2,5,1]
print("Duplicate values:",l1)

Duplicate values: [1, 2, 3, 4, 3, 2, 5, 1]

# List constructor

In [20]:
l1=list(("apple","mango","banana"))
print(l1)

['apple', 'mango', 'banana']

# List slicing

In [10]:
l1=[1,2,3,4,5,6,7,8,9]
print("current list:",l1)

#Access the value of index 1
print("index value 1 is:",l1[1])

#Access the value between 1 to 6
print("index value between 1 to 6 is:",l1[1:6])

#Access the value till 6
print("index value till 6 is:",l1[:6])

#Access the value from the list
print("last value from the list is:",l1[-1])

current list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
index value 1 is: 2
index value between 1 to 6 is: [2, 3, 4, 5, 6]
index value till 6 is: [1, 2, 3, 4, 5, 6]
last value from the list is: 9

# List item changed

In [12]:
x = ["apple","banana","mango","cherry","kiwi","orange"]
print("current list:",x)

#change the item list
x[1:3]=["grapes","watermelon"]
print("changed list:",x)

current list: ['apple', 'banana', 'mango', 'cherry', 'kiwi', 'orange']
changed list: ['apple', 'grapes', 'watermelon', 'cherry', 'kiwi', 'orange']

# insert()

In [14]:
l1=[1,2,3,4,5,6]
print("current list:",l1)

#insert the value 
l1.insert(2,"python")
print("inserted list:",l1)

current list: [1, 2, 3, 4, 5, 6]
inserted list: [1, 2, 'python', 3, 4, 5, 6]

# Extend()

In [24]:
l1=[1,2,3,4,5]
l2=["A","B","C","D"]
l1.extend(l2) #extend the list l2 into l1
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

# remove()

In [16]:
# remove():it removes the value from the list
l1=[1,2,3,4,5,6]
print("current list:",l1)
l1.remove(3) # in brackets enter the charecter which we want to delete
print("updated list:",l1)

current list: [1, 2, 3, 4, 5, 6]
updated list: [1, 2, 4, 5, 6]

# pop()

In [4]:
# pop():this methods removes the last from value the list
l1=[1,2,3,4,5,6]
l1.pop(1)
l1

[1, 3, 4, 5, 6]

# del()

In [18]:
# del():this method is used to remove item from the index
l1=[1,2,3,4,5,6]
del l1[2] # in bracket enter the index position
l1

[1, 2, 4, 5, 6]

# clear()

In [19]:
# clear():this method clear all vales from the list
l1=[1,2,3,4,5,6]
l1.clear()
l1

[]

# Tuples
- Tuple is collection in python.
- Tuple is immutable(No changeable at runtime).
- we can convert (python convert list -> tuple and tuple -> list)
- Tuple allows multiple datatype values to be store.
- Tuple is working on index value starting from zero.

# creating tuple

In [20]:
# creating tuple()
t1=(1,2,3,4,10.5,5.5,6.7,"apple","mango")
print("current tuple is:",t1)

current tuple is: (1, 2, 3, 4, 'apple', 'mango')

In [21]:
# checking the length of the tuple
t2=(1,2,3,4,5,6,"vasu")
print(len(t2))

7

# tuple indexing/slicing

In [23]:
t1=(1,2,3,4,5,6,7,8,9)
print("current tuple:",t1)

#Access the value of index 1
print("index value 1 is:",t1[1])

#Access the value between 1 to 6
print("index value between 1 to 6 is:",t1[1:6])

#Access the value till 6
print("index value till 6 is:",t1[:6])

#Access the value from the list
print("last value from the tuple is:",t1[-1])

current tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
index value 1 is: 2
index value between 1 to 6 is: (2, 3, 4, 5, 6)
index value till 6 is: (1, 2, 3, 4, 5, 6)
last value from the tuple is: 9

# convert the tuple into list

In [24]:
t1=(1,2,3,'vasundhara','chaitanya')
print("the current tuple:",t1)
l1=list(t1)
print("after convert:",l1)

the current tuple: (1, 2, 3, 'vasundhara', 'chaitanya')
after convert: [1, 2, 3, 'vasundhara', 'chaitanya']

# tuple constructor

In [25]:
t3=tuple(("apple","mango","grapes"))
t3

('apple', 'mango', 'grapes')

# add item but after converting into list

In [27]:
t1=(1,2,3,"apple","mango")
l1=list(t1)# converting tuple into list
l1.append("grapes")
t2=tuple(l1) # coverting list into tuple
t2

(1, 2, 3, 'apple', 'mango', 'grapes')

# loops with tuple

In [31]:
# for loop with tuple
t5=("apple","banana","mango","kiwi","orange")
for i in t5: # i is iterable
    print(i)

apple
banana
mango
kiwi
orange

In [33]:
# while loop with tuple
t5=("apple","banana","mango","kiwi","orange")
i=0

while i<len(t5):
    print(t5[i])
    i=i+1
else:
    print("loop finish")

apple
banana
mango
kiwi
orange
loop finish

# comparing tuples

In [27]:
t1=(1,2,3)
t2=(1,2,4)

#tuple1 is equal to tuple2
print(t1==t2)

#tuple1<tuple2
print(t1<t2)

#tuple1>tuple2
print(t1>t2)

False
True
False

# Dictionary
- Dictionary is a collection of python,which works on key and value pair.
- Dictionary follows the ordered container or collection.
- Dictionary has immutable keys but value  could be both immutable as well as mutable dependent upon what value you are storing.

# creating Dictionary

In [37]:
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
print(d1)
print(type(d1)) #checking datatype of d1

{1: 'apple', 2: 'mango', 3: 'banana', 'A': 'B'}
<class 'dict'>

In [39]:
#storing a list into Dictionary on a single key
d2={1:"python",2:"java","fruit":["apple","mango","banana"]}
print(d2)

#storing a tuple into Dictionary on a single key
d3={1:"python",2:"java","Language":("java","python","php")}
print(d3)

{1: 'python', 2: 'java', 'fruit': ['apple', 'mango', 'banana']}
{1: 'python', 2: 'java', 'Language': ('java', 'python', 'php')}

# Access the value of Dictionary

In [52]:
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
print("current dict:",d1)

#Access the value using key
x = d1[3]
print(x)

#Access the value using get()
y=d1.get(1)
print(y)

#Access the value using items()
z=d1.items()
print(z)

#Access the only keys from dictionary
k=d1.keys()
print("keys:",k)

# Access the only values from dictionary
k=d1.values()
print("values:",k)

current dict: {1: 'apple', 2: 'mango', 3: 'banana', 'A': 'B'}
banana
apple
dict_items([(1, 'apple'), (2, 'mango'), (3, 'banana'), ('A', 'B')])
keys: dict_keys([1, 2, 3, 'A'])
values: dict_values(['apple', 'mango', 'banana', 'B'])

# changing the values in dictionary

In [9]:
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
d1["A"]="kiwi"
print("update dict:",d1)

update dict: {1: 'apple', 2: 'mango', 3: 'banana', 'A': 'kiwi'}

In [45]:
#update the value by using update()
d1.update({2:"grapes"})
print("update dict:",d1)

update dict: {1: 'apple', 2: 'grapes', 3: 'kiwi', 'A': 'B'}

# Remove the value from dictionary

In [14]:
# using pop()
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
d1.pop(2)# using pop() deletes particular key
d1

#using popitem()
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
d1.popitem() # popitem() deletes last value in the dictionary
d1

#using del()
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
del d1[1] #del() deletes the particular key value
d1

# #using clear()
d1 = {1:"apple",2:"mango",3:"banana",'A':'B'}
d1.clear() # it clears the all values in the dictionary
d1

{}

 # ASSIGNMENT

In [29]:
# write a program to accept  a list from the user  and print the alternate element of a list.
a=input("enter your name:")
a[::2]

enter your name:chaitanya

'catna'

In [6]:
# write a program to remove the elelment "3" from the given list[1,2,3,4,5,6]
a=[1,2,3,4,5,6]
a.remove(3)
a

[1, 2, 4, 5, 6]

In [8]:
# write a program to insert the element "PYthon" on index2 in the given list
a=["java","php","net","Angular"]
a.insert(2,"python")
a

['java', 'php', 'python', 'net', 'Angular']

In [15]:
# write a program to add element in list using for loop.
lst = []

for i in range(5):
    element = input("Enter an element to add to the list: ")
    lst.append(element)

print("The final list is:", lst)

Enter an element to add to the list: 5
Enter an element to add to the list: 6
Enter an element to add to the list:
Enter an element to add to the list: 4
Enter an element to add to the list: 3
The final list is: ['5', '6', '', '4', '3']

In [31]:
# write a program to perform slicing with given tuple("python",1,2,3,"java",'A','B') with the following slicing point.
# print alternate value of tuple.
tup=("python",1,2,3,"java",'A','B')
print(tup[::2])

# print value between index 1 to 5.
tup=("python",1,2,3,"java",'A','B')
print(tup[1:6])

# print the last value of tuple.
tup=("python",1,2,3,"java",'A','B')
print(tup[-1:])

('python', 2, 'java', 'B')
(1, 2, 3, 'java', 'A')
('B',)

In [20]:
# write a program to count elements in given tuple(1,2,3,4,5,6,7,8).
a=(1,2,3,4,5,6,7,8)
count=len(a)
count

8

In [21]:
# write a program to convert tuple into list
a=(1,2,3,4,5,6,7,8)
l1=list(a)
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# write a program to convert two given list into dictionary.list1=[1,2,3,4,5]and list2=['A','B','C','D','E']
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
d1=dict(zip(l1,l2))  # zip() to combine the two lists into a lists of tuple and dict() convert lists of tuples into dictionary
d1

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [26]:
# write a program to print keys from the given dictionary{1:"APPLE",2:"BANANA",3:"MANGO"}and print keys into list.
d1={1:"APPLE",2:"BANANA",3:"MANGO"}
l1=list(d1.keys())
l1

[1, 2, 3]

In [27]:
# write a program to print values from the given dictionary{1:"APPLE",2:"BANANA",3:"MANGO"}and print keys into list.
d1={1:"APPLE",2:"BANANA",3:"MANGO"}
l1=list(d1.values())
l1

['APPLE', 'BANANA', 'MANGO']

# Functions
- Function is a block of code which only runs when is called.
- Function is also used for reusability of code.
- Function is created with "def" keyword.

# In-built function

In [55]:
#print() function
print("hello world")

#range() function
for i in range(1,9):
    print(i)

#round() function
x=round(56.7898,2)
print(x)

hello world
1
2
3
4
5
6
7
8
56.79

# User defined functions

In [2]:
# create function
def myfunction():
    print("Hello")
    
# calling function
myfunction()

Hello

# Function with one argument

In [3]:
# creating a function
def myfunction(a):
    print("A:",a)
    
#calling a function
myfunction(10) #passing argument a as 10

A: 10

# Multiple arguments into function

In [5]:
# creating a function
def myfunction(a,b):
    print("A:",a)
    print("B:",b)

#calling a function
myfunction(10,20) # passing 2 arguments

A: 10
B: 20

# keyword arguments

In [33]:
# creating a function
def myfunction(child3,child2,child1):
    print("Youngest child is :",child3)
    
#calling a function
myfunction(child1="vasundhara",child2="krishna",child3="chaitanya")

Youngest child is : chaitanya

# Default parameter

In [15]:
#creating a function
def myfunction(state="karnataka"):
    print("I am from : ",state)
    
#calling a function
myfunction("Andhra pradesh")
myfunction("Telangana")
myfunction("Kerala")
myfunction()

I am from :  Andhra pradesh
I am from :  Telangana
I am from :  Kerala
I am from :  karnataka

# calling a list into function

In [17]:
#creating a list
def myfunction(fruit):
    for i in fruit:
        print(i)
f=["apple","mango","grapes"] 

#calling a function
myfunction(f)

apple
mango
grapes

# Return values from function

In [18]:
# creating a list
def myfunction(x):
    return 5*x

#calling a function
print(myfunction(3))
print(myfunction(4))
print(myfunction(5))

15
20
25

# recursion function

In [19]:
#recursion:a function which call itself
#creating a function
def factorial(x):
    if x==1:
        return 1
    else:
        #calling a function
        return(x*factorial(x-1))
num=int(input("Num:"))
print("The factorial of",num,"is:",factorial(num))

Num:8
The factorial of 8 is: 40320

# Anonymous Function(Lambda function)

In [21]:
#creating a function
x = lambda a:a+10
print(x(5))

#lambda functions with multiple arguments
y = lambda a,b:a*b
print(y(10,9))

15
90

# Global variable

In [35]:
#global variable : which means the variable can use anywhere in the program

z=25
def myfunction():
    global z
    print(z)
    z=20
    
myfunction()
print(z)

25
20

# Local variable

In [5]:
# local variable:The variable which can be used in it scope

def sum(x,y):
    sum=x+y
    return sum
print(sum(5,10))
print(x) #x is a local variable

15

NameError: name 'x' is not defined

# Random module
- Python provide multiple inbuilt function that are used to choose or generate random number by using random module.

# Random number operations:
- choice() : choice() is inbuilt function of random module,which is used to return random number from list,tuple and set.
- Randint() : randint() is inbuilt function of random module,which is used to generate random number from particular given range.
- shuffle() : shuffle() is inbuilt function of random module,which is used to shuffle a value of list.

# Import random

In [25]:
#from random import functionname

# import random

# choice()

In [7]:
from random import choice

l1=[1,2,3,4,5,6]
print(choice(l1))

4

# Randint()

In [28]:
from random import randint

otp=randint(10000,99999)
print("Your otp is : ",otp)

Your otp is :  57741

# shuffle()

In [18]:
from random import shuffle

l2=["apple","mango","banana"]
shuffle(l2)
print(l2)

['mango', 'banana', 'apple']

# Math module
- math module is used to perform mathematical task.

# Math module operations:
- Factorial():This function return factorial number.
- ceil():This function is used to round up the integer.
- Floor():This function is used to round down the integer.
- sqrt():This function is used to return square root of the value.

# import math

In [34]:
# import math

# from random import math

# Factorial()

In [35]:
import math 

print(math.factorial(9))
print(math.factorial(8))
print(math.factorial(7))

362880
40320
5040

# ceil()

In [36]:
import math

print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))

2
6
-5

# Floor()

In [41]:
import math
print(math.floor(1.4))
print(math.floor(5.6))
print(math.floor(-4.6))

1
5
-5

# sqrt()

In [39]:
import math 
print(math.sqrt(10))
print(math.sqrt(100))
print(math.sqrt(400))

3.1622776601683795
10.0
20.0

# File handling

- File handling is an important part for web application.
- when can do several functions for creating,reading,updating,and deleting files.

# File handling permissions
- "r"-read the file content
- "a"-append a value in the file
- "w"-write a value in the file

# creating file

In [4]:
#open("File name","permission")

s="This is my file handling program"
file=open("demo1.txt","w")
file.write(s)
print("File created")
file.close()

File created

In [5]:
file.closed

True

# file read

In [2]:
file=open("demo1.txt","r")
filecontent=file.read()
print(filecontent)

This is my file handling program

In [6]:
file.closed

True

# write a list into file

In [9]:
l1=["java","python","php","angular"]
file=open("demo2.text","w")
file.writelines(l1)
print("File created")
file.close()

File created

# Read a list from file

In [10]:
file = open("demo2.text","r")
filelist=file.readlines()
print(filelist)

['javapythonphpangular']

In [11]:
file.closed

False

# appending the value into the file

In [12]:
s = "python programming"
file = open("demo1.text","a")
file.write(s)
print("file updated")
file.close()

file updated

# ASSIGNMENT

In [31]:
# write a program to create a ".txt" file and read an entire text file
s="This is file handling assignment"
file=open("demo.txt",'w')
file.write(s)
print("File created")
file=open("demo.txt",'r')
filelist=file.readlines()
print(filelist)
file.close()
file.closed

File created
['This is file handling assignment']

True

In [34]:
filename = input("Enter file name: ")
n = int(input("Enter the number of lines to read: "))

with open(filename, 'r') as file:
    for i in range(n):
        line = file.readline()
        if not line:
            break
        print(line.strip())

Enter file name: india.txt
Enter the number of lines to read: 2
Indian culture is the heritage of social norms and technologies that originated in or are associated with the ethno-linguistically diverse India. The term also applies beyond India to countries and cultures whose histories are strongly connected to India by immigration, colonisation, or influence, particularly in South Asia and Southeast Asia. India's languages, religions, dance, music, architecture, food and customs differ from place to place within the country.

In [6]:
# write a program to append text to a file and display the text.
with open('example.txt','a') as file:
    file.write('This is some new text.\n')
with open('example.txt','r') as file:
    contents=file.read()
    print(contents)
file.close()
file.closed

This is some new text.
This is some new text.
This is some new text.
This is some new text.
This is some new text.

True

In [8]:
# write a program to store given list["Apple","Mango","Orange"] into file.
lst=["Apple","Mango","Orange"]
file=open("demo1.txt","w")
file.writelines(lst)
print("file created")
file.close()

file created

In [11]:
#write a program to read list from the file.
file=open("demo1.txt","r")
filelist=file.readlines()
print(filelist)

['AppleMangoOrange']

# Exception Handling
- Exception means the abnormal situation occurs at runtime and stop the execution of program.
- In python there are two types of error that can occur 
- 1)syntax error
- 2)Exception

# syntax Error:
- As the name suggest this error is caused by wrong syntax in the code.It leads to the termination of the program.

# Exception:
- Exceptions are raised when the program is syntactically correct but the code resulted in an error.This error does not stop the execution of the program,however,it changes the normal flow of the program.

# user Define Exception:
- User define exception means user can generate his custom exception in python by inherting the exception class.

# Exception create

In [13]:
a = int(input("Enter the value of A : "))
print("A:",a)
# we got a wrong input
print("Bye")

Enter the value of A : hello

ValueError: invalid literal for int() with base 10: 'hello'

In [14]:
a = int(input("Enter the value of A : "))
b = int(input("Enter the value of B : "))
c = a/b #Exception handling
print("Answer : ",c)
print("Bye")

Enter the value of A : 10
Enter the value of B : 0

ZeroDivisionError: division by zero

In [17]:
try:
# The code which is written try block can be occurerror at runtime    
    a = int(input("Enter the value of A : "))
    b = int(input("Enter the value of B : ")) 
    c = a/b
    print("Answer : ",c)
except Exception as e:
# This block will run when exception occur    
    print("Exception Caught : ",e)
print("Bye")

Enter the value of A : 10
Enter the value of B : 0
Exception Caught :  division by zero
Bye

# Many exception

In [8]:
try:
    x=15
    print(x)
except NameError:
    print("Variable is not define")
except:
    print("Exception Caught")

15

# How to use else with except

In [5]:
try:
    #print("Hello")
    print(x)
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Something went wrong

# Finally block

In [23]:
try:
     # print("Hello")
    print(x)
except:
    print("Something went wrong")
finally:
    print("finally block")

Something went wrong
finally block

# User define exception

In [9]:
class myException(Exception):
    pass
c=25
if c>5:
    raise myException("Something went wrong")

myException: Something went wrong

# ASSIGNMENT

In [7]:
# write a program to input two numbers from the user  and check it's an integer or not using  Try and Except.
try:  # try is used execute the code that tries to convert inputs into integres.
    num1=int(input("Enter the first number: "))
    num2=int(input("Enter the second number: "))
    print("Both the numbers are integers")
except ValueError:
    print("one or both of the inputs are not integers")

Enter the first number: 90
Enter the second number: bhg
one or both of the inputs are not integers

In [8]:
# write a program to input  a string from the user evaluate using Try and Except
while True:                                         
    user_input=input("Please Enter a string to evaluate: ")       
    try:                               
        result=eval(user_input) # eval() allows you to evaluate arbitrary python expressions from a string-based or compiled-code-based input.
        print("The result of evaluating string is: ",result)
        break                                                                                                                   
    except:                            
        print("Invalid input.Please enter a valid string.")

Please Enter a string to evaluate: Hello chaitanya,this is chaitanya's world
Invalid input.Please enter a valid string.
Please Enter a string to evaluate: hello krishna
Invalid input.Please enter a valid string.
Please Enter a string to evaluate: hello chaitanya
Invalid input.Please enter a valid string.
Please Enter a string to evaluate: 1234
The result of evaluating string is:  1234

In [10]:
# write a program to input two number from the user and check its an integer or not using Try and Except,if number are integer
# then the print sum of that number using finally block.
try:
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))
    print("Both numbers are integers.")
except ValueError:
    print("At least one of the numbers is not an integer.")
finally:
    if isinstance(num1, int) and isinstance(num2, int):
        print(f"The sum of {num1} and {num2} is {num1 + num2}.")
    else:
        print("cannot compute  the sum since atleast one of the numbers is not an integer")

Enter the first number: 123
Enter the second number: 456
Both numbers are integers.
The sum of 123 and 456 is 579.

In [12]:
# write a program to input two numbers from the user  and handle your exception using else.
try:
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))
except ValueError:
    print("Error: Invalid input! Please enter a valid number.")
else:
    result = num1 + num2
    print("The sum of", num1, "and", num2, "is", result)

Enter first number: 879
Enter second number: ghy
Error: Invalid input! Please enter a valid number.

In [18]:
#write a program to print multiple except block
try:
    # Some code that might raise an exception
    # For example, dividing by zero
    result = 1 / str

except ZeroDivisionError:
    # Handle the ZeroDivisionError exception
    print("Error: Attempted to divide by zero")

except TypeError:
    # Handle the TypeError exception
    print("Error: Invalid type used in operation")

except Exception as e:
    # Handle any other exception that was not caught by the previous except blocks
    print(f"Unexpected error occurred: {e}")

finally:
    # Code that should be executed regardless of whether an exception was raised or not
    print("Program complete.")

Error: Invalid type used in operation
Program complete.

# object oriented programming in python

# oops concepts:
- class
- object
- Inheritance
- polymorphism
- Abstraction
- Encapsulation

# class:
- Python classes provide all the standard features of object oriented programming:the class inheritance allows multiple base classe,a derived class can override any methods of its base class or classes, and a method can call the method of a base class with the same name.

# object:
- object is one type of inheritance in class i.e.,you cannot access the property of class without an object.

# constructor:
- constructor means it's a special member function which calls whenever object create of that class.
- constructor is defined by(__) underscore.
- __init__ function:This function is called constructor in python and is called whenever the object is created in that class.

# How to create a class

In [2]:
class myclass:
    x=5 # property of class
    
print(myclass)

<class '__main__.myclass'>

# How to create object

In [3]:
l1 = [1,2,3,4] 
l1

[1, 2, 3, 4]

In [2]:
class myclass:
    x=5 # property of class
    
# creating object of my class
m1=myclass() # m1 is an object of class myclass
print(m1.x)

5

# calling a function by object

In [3]:
class myclass:
    def myfunction(self): # property of class
        print("Hello my function")
# creating an object
m1=myclass()
m1.myfunction()

Hello my function

# How to create constructor

In [4]:
class myclass:
    # creating a constructor
    def __init__(self):
        print("This is my constructor")
        
# creating an object
m1=myclass()

This is my constructor

# change the value of the object

In [4]:
class myclass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunction(self):
        print("My Name is :"+self.name)
        print("My age:" + self.age) 
        
# creating an object
m1=myclass("chaitanya",25)
m1.age
m1.name

# # change the age using object
m1.age=26
print("Age : ",m1.age)

# # Deleting the object
del m1.age
print("Age : ",m1.age)

Age :  26

AttributeError: 'myclass' object has no attribute 'age'

# Inheritance

- python supports inheritance it even supports multiple inheritance.
- classes can inherit from other classes.
- A class can inherit attributes and behavior methods from another class,called the superclass.
- A class which inherits from a superclass is called a subclass,also called heir class or child class.

# Types of Inheritance:
- single inheritance
- Multilevel inheritance
- Multiple inheritance
- Hierarchical inheritance
- Hybrid inheritance

# single inheritance:
- In single inheritance there is only one parent class and one child class.
- In single inheritance only one parent class is inherit into the one child class.

In [9]:
# single inheritance
class ParentClass: # parent class
    def myfunction1(self):
        print("Parent Class Function Called")
        
class ChildClass(ParentClass): # child class which inherits parent class
    def myfunction2(self): #child class property
        print("Child Class Function Called")
        
# creating an object of child class
c1=ChildClass()
c1.myfunction1()
c1.myfunction2()

Parent Class Function Called
Child Class Function Called

# Multilevel inheritance:
- In mltilevel inheritance there are levels of class.
- Parent class-->Sub Parent class-->child class

In [10]:
class A: #Parent class
    def myfunction(self):
        print("Class A function Called")
class B(A): #sub parent class
    def myfunction1(self):
        print("Class B funtion Called")
class C(B): #child class
    def myfunction3(self):
        print ("Class C function called")
        
# creating an object of class C  
c1=C()
c1.myfunction()
c1.myfunction1()
c1.myfunction3()

Class A function Called
Class B funtion Called
Class C function called

# Multiple inheritance

In [30]:
class A1: # 1st parent class
    def myfunction1(self):
        print("Class A1 function called")
class B1: #  2nd parent class
    def myfunction2(self):
        print("Class B1 function called")
class C1(A1,B1): # child class
    def myfunction3(self):
        print("Class C1 function called")
        
# creating an object of class C
c1=C1()
c1.myfunction1()
c1.myfunction2()

Class A1 function called
Class B1 function called

# Hierarchical inheritance:
- when more than one child class is created from a single parent class is called Hierarchical inheriitance.
- (parent class having two child class)

In [6]:
class A1: #parent class
    def myfunction1(self):
        print("Class A1 function called")
class A2(A1): # child class
    def myfunction2(self):
        print("Class A2 function called")
class A3(A1):   # child class
    def myfunction3(self):                         
        print("Class A3 function called")
        
# creating 2 objects 1 for class A2 and 1 for class A3
a2=A2()
a3=A3()
a2.myfunction1() #Function of class A1
a2.myfunction2()#Function of class A2
a3.myfunction1() #Function of class A1
a3.myfunction3() #Function of class A3

Class A1 function called
Class A2 function called
Class A1 function called
Class A3 function called

# Hybrid inheritance:
- This form combines more than one form of inheritance .Basically it is a blend of more than one type of inheritance.
- (parent class having two child class,two child classes having one child class)

In [20]:
class B1: #parent class
    def myfunction1(self):
        print("Function of class B1")
class B2(B1): #child class
    def myfunction2(self):
        print("Function of class B2")
class B3(B1): #child class
    def myfunction3(self):
        print("Function of class B3")
class B4(B2,B3): #child class
    def myfunction4(self):
        print("Function of class B4")  
        
# creating an object childclass
b=B4()
b.myfunction1()
b.myfunction2()
b.myfunction3()
b.myfunction4()

Function of class B1
Function of class B2
Function of class B3
Function of class B4

# Polymorphism
- polymorphism means having many form of same name.
- In programming polymorphism means function having same name but different signature.

# Types of polymorphism
- 1)compile time polymorphism(method overloading)
- 2)Run time polymorphism(method overriding)

# Method overloading:
- Method overloading is the compile time polymorphism.
- Method overloading means having same name methods in same class,but different arguments.
- In method overloading inheritance is not required.

In [9]:
class MO:
    def myFunction(self): #no arguments
        print("Function with no arguments")
    def myFunction(self,a): #1 arguments
        print("Function with 1 arguments")
    def myFunction(self,a,b): # 2 arguments
        print("Function with 2 arguments")
        
#creating an object of class MO
m = MO()
m.myFunction(10,20) 

#Note: Method Overloading is not supported in python  because it is a interpreted Language

Function with 2 arguments

# Method overriding
- Method overriding is the runtime polymorphism.
- Method overriding means having same name methods,but into different class,arguments also same.
- In method overriding inheritance is compulsory.

In [33]:
class MO1: #Parent class
    def myFunction(self,a):
        print("Class MO1 function called")
        
class MO2(MO1): # child class
    def myFunction(self,a):
        print("Class MO2 function called")
        # super method calling the method of class MO1
        super().myFunction(10)
        
class MO3(MO2): # child class
    def myFunction(self,a):
        print("Class MO3 function called") 
        # super method calling the method of class MO2
        super().myFunction(10)
        
# creating an object of MO3
m=MO3() #object of MO3
m.myFunction(10)

Class MO3 function called
Class MO2 function called
Class MO1 function called

# Abstraction:
- A class that consists of one or more abstract method is called the abstract class.
- Abstract methods do not contain their implementation.
- Abstract class can be inherited by the subclass and abstract method gets its definition in the subclass.

In [1]:
class RBI: #Abstarct class
    def Interest(self): #Abstract Method
        print("RBI interset is 6.5%")
class SBI(RBI):  #child class
    def Interest(self): #RBI interest implements here
        print("SBI interest is 5% ")
class HDFC(RBI):  #child class
    def Interest(self):  # RBI interest implements here
        print("HDFC interest is 2%")

#Creating an object of class SBI
s=SBI()              

#Creating an object of class HDFC                                                                      
h=HDFC() 

s.Interest()  #SBI interest method is called
h.Interest()  #HDFC interest method is called

SBI interest is 5%
HDFC interest is 2%

In [6]:
class Animal: # Abstract class
    def move(self): #Abstarct method
        pass
class Dog(Animal): #child class
    def move(self):  # Class animal implements method here
        print("I can bark")
class Snake(Animal):
    def move(self):
        print("I can hisss")
        
# creating an object of class dog
d=Dog()

# creating an object of class snake
s=Snake()

d.move()
s.move()

I can bark
I can hisss

# Encapsulation
- The process of wrapping up variables and methods into a single entity is known as Encapsulation.

# How to Achieve Encapsulation
- _(single underscore)==single underscore stands for protected.
- __(double underscore)==Double underscore stands for private.

# Achieveing Encapsulation by private

In [11]:
class A: #parent class
    def __init__(self,a):
        self.__a=a # the variable is a private variable
    def show(self):
        #printing a private using function
        print("Private variable : ",self._a)
class B(A): #child class
    def __init__(self,b):
        super().__init__(b)
    def show1(self):
        print(self.__a)
# creating an object of class B

obj = B("Hello")
obj.show1()

AttributeError: 'B' object has no attribute '_B__a'

In [13]:
class A: # parent class
    def __init__(self, a):
        self.__a = a # the variable is a private variable
    def show(self):
        # printing a private using function
        print("Private variable:", self.__a)

class B(A): # child class 
    def __init__(self, b):
        super().__init__(b)
    def show1(self):
        print(self._A__a) # accessing private variable of A

# creating an object of class B
obj = B(20) 
obj.show1()

20

In [14]:
class A: #parent class
    def __init__(self,a):
        self._a = a #this variable is a protected variable
    def show(self):
        print("protected variable : ",self._a)
        
class B(A): #child class
    def __init__(self,b):
        super().__init__(b)

    def show(self):
        print("Variable Value : ",self._a)
        
# creating an object of class B
obj = B(20)
obj.show()

Variable Value :  20

# Achieveing Encapsulation by protected

In [4]:
class A: #parent class
    def __init__(self,a):
        self.__a=a #this variable is a protected variable
    def show(self):
        print("protected variable : ",self._a)
        
class B(A): #child class
    def __init__(self,b):
        super().__init__(b)
    def showB(self):
        print("Variable Value : ",self.__a)
        
# creating an object of class B

obj=B(20)
obj.showB()

Variable Value :  20

# ASSIGNMENT

In [24]:
# create class Vehicle class and call the method of a class.
class Vehicle:
    def __init__(self,name,model,year):
        self.name=name
        self.model=model
        self.year=year
    def start(self):
        print(self.name,"is starting")
    def stop(self):
        print("The vehicle is stopping")
        
v1=Vehicle("Hyndai i10","Aura",2022)
v1.start()
v1.stop()

Hyndai i10 is starting
The vehicle is stopping

In [25]:
# create Vehicle class and create one method without any body.
class Vehicle:
    def start_engine(self):
        pass

In [32]:
# create class vehicle class and perform method overloading in class.
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start_engine(self):
        print("Starting the engine...")

    def start_engine(self, keyless_entry):
        if keyless_entry:
            print("Starting the engine with keyless entry...")
        else:
            print("Starting the engine with a key...")
            
m1 = Vehicle("Toyota", "Corolla", 2021)
m1.start_engine("key")
my_car.start_engine(True)  
my_car.start_engine(False)

Starting the engine with keyless entry...

NameError: name 'my_car' is not defined

In [36]:
# create child class bus that will be inherit all of the methods of the vehicle class.
class Vehicle:
    def __init__(self,name,speed,mileage):
        self.name=name
        self.speed=speed
        self.mileage=mileage
        
    def display_info(self):
        print(f"Vehicle Name: {self.name} speed: {self.speed} Mileage: {self.mileage}")
        
class Bus(Vehicle):
    def __init__(self,name,speed,mileage):
        super().__init__(name,speed,mileage)
        
my_bus=Bus("School Bus",180,12)
my_bus.display_info()

Vehicle Name: School Bus speed: 180 Mileage: 12

In [37]:
# create a vehicle class and create method of the class and same are integrate with another class.
class Vehicle:
    def __init__(self, make, model, year, color):
        self.make = make
        self.model = model
        self.year = year
        self.color = color
        self.speed = 0
        self.is_running = False
    
    def start_engine(self):
        if not self.is_running:
            print(f"{self.make} {self.model} engine is starting...")
            self.is_running = True
        else:
            print(f"{self.make} {self.model} engine is already running.")
    
    def stop_engine(self):
        if self.is_running:
            print(f"{self.make} {self.model} engine is stopping...")
            self.is_running = False
            self.speed = 0
        else:
            print(f"{self.make} {self.model} engine is already stopped.")
    
    def accelerate(self, mph):
        if self.is_running:
            self.speed += mph
            print(f"{self.make} {self.model} is accelerating to {self.speed} mph.")
        else:
            print(f"{self.make} {self.model} engine is not running.")
    
    def brake(self, mph):
        if self.is_running:
            if self.speed >= mph:
                self.speed -= mph
                print(f"{self.make} {self.model} is braking to {self.speed} mph.")
            else:
                self.speed = 0
                print(f"{self.make} {self.model} has stopped.")
        else:
            print(f"{self.make} {self.model} engine is not running.")


class Driver:
    def __init__(self, name, age, vehicle):
        self.name = name
        self.age = age
        self.vehicle = vehicle
    
    def drive(self):
        self.vehicle.start_engine()
        self.vehicle.accelerate(30)
        self.vehicle.brake(10)
        self.vehicle.stop_engine()
my_vehicle = Vehicle("Hundai", "Aura", 2022, "magneta")
my_driver = Driver("vasundhara", 25, my_vehicle)

my_driver.drive()

Hundai Aura engine is starting...
Hundai Aura is accelerating to 30 mph.
Hundai Aura is braking to 20 mph.
Hundai Aura engine is stopping...

In [1]:
tup1 = (10, 4, 5, 6)
tup2 = (5, 6, 7, 5)

print("The original tuple 1:", tup1)
print("The original tuple 2:", tup2)

res = tuple(tup1[i] % tup2[i] for i in range(len(tup1)))
print("The modulus tuple:", res)

The original tuple 1: (10, 4, 5, 6)
The original tuple 2: (5, 6, 7, 5)
The modulus tuple: (0, 4, 5, 1)

In [2]:
tup1 = (10, 4, 5, 6)
tup2 = (5, 6, 7, 5)

print("The original tuple 1:", tup1)
print("The original tuple 2:", tup2)

res = []
for i in range(len(tup1)):
    res.append(tup1[i] % tup2[i])

res = tuple(res)
print("The modulo tuple:", res)

The original tuple 1: (10, 4, 5, 6)
The original tuple 2: (5, 6, 7, 5)
The modulo tuple: (0, 4, 5, 1)